html {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #828282;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.header {
    background: url('../images/header.jpg'), no-repeat, center;
    min-height: 415px;
    margin-bottom: 50px;
}

.header__inner {
    padding-top: 100px;
}
.header__subtitle, .header__title, .header__jobtitle {
    text-align: center;
    color: #fff;
    font-weight: 300;
}
.header__subtitle {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    display: block;
    width: 80px;
    padding: 20px;
    margin: 0 auto 20px;
}
.header__title {
    margin-bottom: 20px;
    font-weight: 200;
}
.section__inner {
    display: flex;
    justify-content: space-between;
}
.section__info {
    border: 1px solid #aaa;
    padding: 30px;
    max-width: 750px;
}

.section__icon {
    margin-bottom: 30px;
}
.section__title {
    position: relative;
    margin-bottom: 15px;
    font-weight: normal;
}

.section__title:before {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 1px;
    background: #000;
    top: -15px;
    left: 0;
}
.section__text {
    margin-bottom: 10px;
    line-height: 23px;
}
.section__descr {
    background: url('../images/descr__bg.png');
    padding: 30px;
    border: 1px solid #aaa;
}
.section__img {
    border-radius: 50%;
}
.about__list-item {
    margin-bottom: 8px;
}
.social__list-img, .section__btn img {
    width: 40px;
    height: 40px;
}
.social__list {
    display: flex;
}
.social__list-item {
    margin-right: 10px;
}
.social__list-item:last-child {
    margin-right: 0;
}
.section__box {
    display: flex;
}
.section__btn {
    display: block;
}

.share-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 100vmax;
    border: 0;
    font-size: 2rem;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    transition: width 300ms ease-in-out;
    transition-delay: 50ms;
    z-index: 1;
  }
  
  .share-btn::before {
    content: "x";
    position: absolute;
    left: 5px;
    font-size: 2.25rem;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
    color: #fff;
    border-radius: inherit;
    z-index: -1;
    transition: background-color 300ms ease-in-out;
  }
  
  .social-icons {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 2em);
    height: 100%;
    right: 0;
    border-radius: inherit;
  }
  
  .fa-telegram,
  .fa-github,
  .fa-linkedin,
  .fa-instagram {
    transform: scale(0);
    transition: transform 300ms ease-in-out;
  }
  
  .share-icon {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
  }
  
  .share-btn.open {
    width: 8em;
  }
  
  .share-btn.open::before {
    background-color: #000;
  }
  
  .share-btn.open :is(.fa-telegram, .fa-github, .fa-linkedin, .fa-instagram) {
    transform: scale(1);
    color: #000;
  }
  
  .share-btn.open .share-icon {
    transform: scale(0);
  }